/*
Designed By: Ghanan Gowripalan
http://ghanan.ca
*/
.wrapper {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-perspective: 300px;
	perspective: 300px;
}
#home {
  height: 100%;
	background-color: transparent;

}

#home > div {
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
}
#home .bg {
	position: absolute;
	top:0;
	left:0;
	
	background-image: url('img/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

	-webkit-transform: translateZ(-300px) scale(1);
	transform: translateZ(-300px) scale(1);

	z-index: -1
}

#buttons {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

#sponsors div[class*='img'], #speakers div[class*='img'] {
  padding: 20%;
}

@media(min-width: 768px) {
  #sponsors div[class*='img'], #speakers div[class*='img'] {
    padding: 5% !important;
  }
}
