/*
Designed By: Ghanan Gowripalan
http://ghanan.ca
*/
#home {
  height: 100%;
}

#buttons {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

#sponsors div[class*='img'], #speakers div[class*='img'] {
  padding: 20%;
  float: center;
}

@media(min-width: 768px) {
  #sponsors div[class*='img'], #speakers div[class*='img'] {
    padding: 5% !important;
  }
}
