/*
Designed By: Ghanan Gowripalan
http://ghanan.ca
*/
.page-header {
  margin: 5px;
}

.row {
  padding: 20px;
}

p {
  padding-right: 10px;
  padding-left: 10px;
}

.img-circle img {
  border: 3px solid #57068C;
}

@media(max-width: 768px) {
  .col-sm-2 {
    display: none;
  }

  .col-sm-10 {
    width: 100%;
  }
}
